body {
    background-color: #120f0a;
    color: #f4f1eb;
    font-family: 'Noto Serif', serif;
    font-size: 1.25em;
    text-align: center;
    max-width: 50em;
    margin: 1em auto;
    padding: 1em 2em;
}

h1 {
    font-weight: 500;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: #c9e3da;
    font-weight: 300;
    padding: 14px 25px;
    display: inline-block;
}

a:hover{
  color: #dac9e3;
}

nav ul li, footer ul li{
    display: inline-block;
    list-style: none;
}

@media (max-width: 450px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*
Triadic Color
#e3dac9
#c9e3da
#dac9e3
*/